@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body
{
    background: linear-gradient(#F5E9DD,#F5E9DD);
    overflow: hidden;

}

.senac{
    width: 185px;
    height: 111px;
    position: fixed;
    bottom: 800px;
    left: 125px;
    background-image: url(senac-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}

.imagem{
    position: relative;
    width: 1200px;
    height: 1000px;
    left: 250px;
    top: 266px;
    background-image: url(imagem.png);
    background-repeat: no-repeat;
    
}

.ret{
  
    position: absolute;
    width: 820px;
    height: 1024px;
    left: 1150px;
    top: 0px;
    
    background: #F9FAFD;
  
  }

  .ret p{
    position: relative;
    width: 185px;
    height: 95px;
    left: 304px;
    top: 167px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 71px;
    
    color: #595858;
    

  }

  .input-box{
    display: block;
    flex-direction: column;
    margin-bottom: 1.1rem;
    position: relative;
    top: 235px;
    left: 195px;
    height: 600px;
    width: 600px;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 1.5rem 1.2rem;
    width: 68%;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    background: #D9D9D9;
    border-radius: 7px;
    padding-left: 3.8em;
    
   

}

.input-box input:hover {
    background-color: #D9D9D9;
}

.input-box input:focus-visible {
    outline: 0.5px solid #19ecc9;

}

.input-box input::placeholder{
    color: #695e6d;
    font-size: 20px;
    left: 5px;
    position: relative;
    top: 4px;
}

.input-b{
    position: fixed;
    top: 489px;
    left: 1346px;
    height: 600px;
    width: 600px;
    
}

.input-b input {
    margin: 0.6rem 0;
    padding: 1.5rem 1.2rem;
    width: 68%;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    background: #D9D9D9;
    padding-left: 3.8em;
    border-radius: 7px;

}

.input-b input:hover {
    background-color: #D9D9D9;
}

.input-b input:focus-visible {
    outline: 0.5px solid #19ecc9;

}

.input-b input::placeholder{
    color: #695e6d;
    font-size: 20px;
    left: 5px;
    position: relative;
    top: 4px;
    
}

.user{
    position: fixed;
    width: 25px;
    height: 25px;
    left: 1363px;
    top: 360px;

   background: url(user.png);
   background-blend-mode: hard-light;
    
}

.lock{
    position: fixed;
    width: 25px;
    height: 25px;
    left: 1363px;
    top: 517px;

   background: url(lock.png);
   background-blend-mode: hard-light;
    
}


.gra{
  
    position: fixed;
    width: 415px;
    height: 75px;
    left: 1344px;
    top: 661px;
    
    background: #0073DF;
    border-radius: 50px;
  }
  
  #tt{
    position: relative;
    left: 137px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 39px;
    top: 12px;
  
  
  color: #FFFEFE;
  
  }

  .r{
    position: fixed;
    width: 4px;
    height: 36px;
    left: 1545px;
    top: 756px;
    
    background: rgba(0, 115, 223, 1);
    border-radius: 4px;

  }

  .esq a{
    text-decoration: none;
    position: fixed;
    width: 180px;
    height: 28px;
    left: 1388px;
    top: 765px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

   color: #0073DF;

  }

  .esq #fg{
    text-decoration: none;
    position: fixed;
    width: 180px;
    height: 28px;
    left: 1576px;
    top: 765px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

   color: #0073DF;

  }










